<!DOCTYPE html>
<html>
  <head>
    <title>Baby Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1><%= baby.lastName %>, <%= baby.firstName%></h1>
  <div>
    <label>Birth Date:</label>
    <b><%= baby.birthDate %></b>
  </div>
  <div>
    <label>Remaining Units:</label>
    <b><%= baby.remainingUnits + " " + baby.unitOfMeasure %></b>
  </div>
  <% for(var i=0; i < baby.dailyLogs.length; i++) { %>
    <li> 
   <a href=<%= "/baby/view/" + baby.id + "/" + baby.dailyLogs[i].id %>>
      <%= baby.dailyLogs[i].date %> </a>
    </li>
     <% } %>
    <br>
 <form method="POST" action=<%= "/baby/" + baby.id + "?_method=PUT"%> >
   <h1>Add a Log</h1>
     <div>
      <label>Log Date:</label>
      <input type="date" name="logDate" />
    </div>
    <div>
      <input type="submit" value="Create" />
    </div>
  </form>
  </body>
</html>